/* RESPONSIVE BREAK POINTS */
/* COLOR PALETTE */
/* CUSTOM FONTS */
@font-face {
  font-family: 'Museo-300';
  src: url("../fonts/253683_0_0.eot");
  src: url("../fonts/253683_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/253683_0_0.woff") format("woff"), url("../fonts/253683_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Museo-500';
  src: url("../fonts/253683_1_0.eot");
  src: url("../fonts/253683_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/253683_1_0.woff") format("woff"), url("../fonts/253683_1_0.ttf") format("truetype"); }

html {
  font-size: 62.5%; }

html, body {
  background: #f6f6f6; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem; }

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  padding: 15px; }
  @media only screen and (max-device-width: 1024px) {
    .container {
      width: 90%;
      padding: 15px 5%; } }

.container-title {
  text-align: center;
  border-bottom: 1px solid #dedede;
  padding-bottom: 12px; }
  @media only screen and (max-device-width: 400px) {
    .container-title {
      margin-top: 0;
      padding-bottom: 30px; } }

ul.container-nav {
  list-style: none;
  margin: -20px 0 -3px 0;
  padding: 0 0 15px 0;
  overflow: hidden;
  text-align: center; }
  ul.container-nav li {
    display: inline-block;
    margin-right: 15px; }
    ul.container-nav li a {
      color: #1e77d2;
      display: block;
      padding: 10px 15px;
      text-decoration: none; }
  ul.container-nav li.current {
    font-weight: bold;
    border-bottom: 3px solid #0069d6; }
    ul.container-nav li.current a {
      padding: 10px 5px; }

h1 {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 6px; }

h1.hero {
  padding: 0 10px;
  font-size: 75px;
  font-size: 7.5rem; }

@media only screen and (max-device-width: 400px) {
  h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; } }

header.container {
  background: #1e77d2;
  border-bottom: 10px solid #0069d6; }
  header.container h1.hero {
    color: #ffffff; }

ul#companies-who-use li {
  display: inline-block;
  margin-right: 50px; }

a {
  color: #50a4da; }

form .input {
  margin-left: 0; }

form.centered-form {
  width: 100%; }
  form.centered-form input, form.centered-form label {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  form.centered-form label {
    text-align: center;
    padding: 8px 0 5px 0; }

input[type=text], input[type=password] {
  padding: 5px 3px;
  font-size: 18px;
  font-size: 1.8rem;
  margin-left: 10px; }

.button {
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  background-color: #1e77d2;
  width: 100%;
  height: 35px;
  text-align: center;
  border-radius: 0;
  color: #ffffff;
  border: none;
  border-bottom: 5px solid #efefef;
  text-decoration: none;
  padding-top: 17px;
  text-transform: uppercase; }

input.button {
  height: 50px;
  padding-top: 5px;
  margin-top: 12px;
  -webkit-appearance: none; }

.button.small {
  height: 15px !important;
  font-size: 14px;
  font-size: 1.4rem; }

.button:hover {
  background: #0069d6;
  color: #ffffff;
  text-decoration: none; }

.button:active {
  border-bottom: 3px solid #d0cfcf; }
